html {
  font-family: monospace;
}

#map {
  width: 90%;
  height: 80vh;
  border: 1px solid gray;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  text-align: center;
  margin: 1rem auto;
}

input,
button {
  outline: none;
}
